body{
	font-family: "Open Sans";
	margin: 0;
}

h1{
	font-family: "Open Sans";
	font-size:27px;
	color: purple;
	margin-top: 25px;
}

h2{
	font-size:19px;
	font-weight:601;
}

h3 {
	font-family: "Open Sans";
	font-size: 16px;
	margin-bottom: 0px;
}

p {
	font-family: "Open Sans";
	font-size: 13px;
	font-style: italic;
	font-weight: normal;
	color: #999;
	margin-top: 2px;
}

span{
	font-family: "Open Sans";
	font-style: italic;
	font-weight: lighter;
}

.example{
	font-style: "Open Sans";
	font-size: 18px;
	color: purple;
	background-color:#D9E3E5;
	font-weight: normal;
	padding: 4px;
	border-radius: 10px;
	border-color: #999;
	border-display:inline;
}

.total{
	font-family: "Open Sans";
	background-color: white;
	color: black;
	font-weight: bold;
	padding: 5px;

}

.button{
	background-color: purple;
	color: white;
	font-weight: bold;
	font-size: 14px;
	padding: 5px;
	font-style: "Open Sans";
	border-color: white;
	border-radius: 8px;
}

.label {
	font-size: 14px;
	font-style: normal;
	margin-left: 3px;
	font-weight: 500;
}

.textbox {
	font-size: 14px;
padding: 4px;
width: 50px;
}