h1{
	font-family: Georgia;
	font-size:24px;
	color: purple;
}

h2{
	font-family: Georgia;
	font-size: 16px;
}

h3{
	font-family: Georgia;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
}

div{
	font-style: Georgia;
	font-size: 18px;
	color: white;
	background-color:purple;
	font-weight: bold;
	padding: 5px;
}
